{% extends 'core/template.html' %}
{% block content %}
<div class="blog__details__form container">
    <h4>Suggest A Movie</h4>
    <form action="{% url 'core:movie_suggestion' %}">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" placeholder="Name" name="name">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" placeholder="Email" name="email">
            </div>
            <div class="col-lg-12">
                <textarea placeholder="Message" name="movie_title"></textarea>
                <button type="submit" class="site-btn">Send Suggestion</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}